.container {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(61, 125, 255, 0.4) 0%,
    rgba(118, 161, 249, 0.1) 53%,
    rgba(238, 238, 238, 0) 100%
  );
}
.container .main {
  display: flex;
  padding-top: 0.94rem;
}
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 47%;
}
.section1 .logo {
  height: 1.6rem;
  width: 1.6rem;
}
.section1 .name {
  font-size: 0.6rem;
  font-weight: bold;
  color: #171717;
  line-height: 0.8rem;
  margin: 0.33rem auto 0.41rem;
}
.section1 .desc {
  font-size: 0.24rem;
  font-weight: 400;
  color: #999999;
  line-height: 0.36rem;
  width: 5.56rem;
}
.section1 .download img {
  margin-top: 1.6rem;
  height: 0.96rem;
}
.section2 {
  width: 53%;
}
.phone {
  width: 71%;
  height: auto;
}
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.4rem;
  margin-top: 0.65rem;
}
.footer .links{
  display: flex;
}
.links a {
  font-size: 0.16rem;
  font-family: Helvetica;
  color: #999999;
  line-height: 0.19rem;
  padding: 0 0.28rem;
}
.links .line {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.footer .right {
  font-size: 0.14rem;
  font-family: Helvetica;
  color: #c6c6c6;
  line-height: 0.17rem;
  margin-top: 0.12rem;
}

@media only screen and (max-width: 768px) {
  .container .main {
    flex-direction: column;
  }
  .section1,
  .section2 {
    width: 100%;
  }
  .section2 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
